<form method="post" action="/Buscar/Carrera" id="BusQbasica">
          <div class="col-lg-12" style="margin-bottom: 20px;">
              <div class="row">
                  <div class=col-lg-3>
                      <div class="form-group">
                          <label>Carrera:</label>

                          <input autocomplete=”off” class="form-control" type="text" id="myInput" name="myInput" required>

                      </div>
                  </div>
                  <div class=col-lg-3>
                      <div class="form-group">
                          <label>Institucion:</label>


                          <input autocomplete=”off” class="form-control" type="text" id="myInput" name="myInput" required>

                      </div>
                  </div>
                  <div class=col-lg-3>
                      <div class="form-group">
                          <label>Ubicacion:</label>

                          <input autocomplete=”off” class="form-control" type="text" id="myInput" name="myInput" required>

                      </div>
                  </div>
                  <div class=col-lg-3>
                      <div class="form-group" style="text-align: right;
    margin-top: 33px;">
                          <button type="submit" class="btn btn-success">
                              Buscar
                          </button>
                          <input class="btn btn-warning" type="reset" value="Limpiar" />


                      </div>
                  </div>
              </div>
          </div>
      </form>

  