<form method="post" action="/Buscar/Carrera" id="BusQavanzanda">
          <div class="col-lg-12" style="margin-bottom: 20px;">
              <div class="row">
                  <div class=col-lg-3>
                      <div class="form-group" style="    margin-top: 24px;">
                          <label>Area de interes:</label>

                          <input autocomplete=”off” class="form-control" type="text" required>

                      </div>
                  </div>
                  <div class=col-lg-3>
                      <div class="form-group">
                          <label>Carreras relacionadas con:</label>


                          <input autocomplete=”off” class="form-control" type="text"  required>

                      </div>
                  </div>
                  <div class=col-lg-3>
                      <div class="form-group" style="    margin-top: 24px;">
                          <label>Ubicacion:</label>

                          <input autocomplete=”off” class="form-control" type="text"  required>

                      </div>
                  </div>
                  <div class=col-lg-3>
                      <div class="form-group" style="text-align: right;
        margin-top: 55px;">
                          <button type="submit" class="btn btn-success">
                              Buscar
                          </button>
                          <input class="btn btn-warning" type="reset" value="Limpiar" />


                      </div>
                  </div>
              </div>
          </div>
      </form>