<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/layout :: head"></head>
<body class="fix-header card-no-border fix-sidebar" id="ng-app" ng-app="CarreraApp" ng-controller="CarreraController" ng-init="init()">

<div th:replace=" admin/layout/layout ::preloader">
	</div>

	<div id="main-wrapper">

		<header th:replace="admin/layout/layout :: header"></header>

		<aside th:replace="admin/layout/layout :: sidebar"></aside>

		<div class="page-wrapper">
			<div class="container-fluid">
				<div th:replace="admin/layout/layout :: mensajes"></div>
				<form th:object="${carrera}" th:action="@{/carreras/edit}"
					enctype="multipart/form-data" method="post">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-outline-inverse">
								<div class="card-header">
									<div class="col-md-6 align-self-center">
										<h4 class="text-white font-bold" th:text="${carrera.nombre}"></h4>
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-7">
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label>Nombre</label> <input
															placeholder="Nombre de carrera" autocomplete="off"
															autofocus th:field="*{nombre}" type="text" letters-only
															class="form-control" th:errorclass="border-danger"
	                                                        class="form-control" th:errorclass="border-danger"
	                                                        data-ng-model="txtNombre.text"
															data-ng-show="txtNombre.visible"
															maxlength={{txtNombre.length}}>
														<small th:if="${#fields.hasErrors('nombre')}"
															th:errors="*{nombre}" class="text-danger"></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 col-md-6 col-lg-6">
													<label>Area</label> <input autocomplete="off" readonly
														th:value="${carrera.area.nombre}" type="text"
														class="form-control">
													<!--<select required th:field="*{area.id}"-->
													<!--class="form-control custom-select">-->
													<!--<option th:value="NULL">Selecciona</option>-->
													<!--<option th:each="item:${areas}"-->
													<!--th:value="${item.id}" th:text="${item.nombre}"></option>-->
													<!--</select>-->
												</div>
												<div class="col-sm-12 col-md-6 col-lg-6">
													<label>Tipo de Carrera</label> <input autocomplete="off"
														readonly th:value="${carrera.tipoCarrera.desc}"
														type="text" class="form-control">
													<!--<select required th:field="*{tipoCarrera.idParam}"-->
													<!--class="form-control custom-select">-->
													<!--<option th:value="NULL">Selecciona</option>-->
													<!--<option th:each="item:${tipoCarrera}"-->
													<!--th:value="${item.idParam}" th:text="${item.desc}"></option>-->
													<!--</select>-->
												</div>
											</div>
											<div class="row mt-2">
												<div class="col-sm-12 col-md-6 col-lg-6">
													<div class="form-group">
														<a class="mytooltip" href="javascript:void(0)"> <i
															class="fa fa-info-circle text-info"></i> Duración <span
															class="tooltip-content3"> Duración de la carrera
																en semestres. </span>
														</a> <input th:field="*{duracion}" type="text" ng-model="duracionCarrera"
															autocomplete="off" class="form-control" id="duracion"
															th:errorclass="border-danger"
															data-ng-model="txtDuracion.text"
														    data-ng-show="txtDuracion.visible" 
														    maxlength={{txtDuracion.length}} numbers-only> <small
															th:if="${#fields.hasErrors('duracion')}"
															th:errors="*{duracion}" class="text-danger"></small>
													</div>
												</div>
												<div class="col-sm-12 col-md-6 col-lg-6">
													<div class="form-group">
														<a class="mytooltip" href="javascript:void(0)"> <i
															class="fa fa-info-circle text-info"></i> Popularidad <span
															class="tooltip-content3"> Se incrementa segun
																realizen consultas </span>
														</a> <input th:field="*{popularidad}" type="text"
															autocomplete="off" class="form-control" id="popularidad"
															th:errorclass="border-danger"
															data-ng-model="txtPopularidad.text"
														    data-ng-show="txtPopularidad.visible"
														    maxlength={{txtPopularidad.length}} numbers-only> <small
															th:if="${#fields.hasErrors('popularidad')}"
															th:errors="*{popularidad}" class="text-danger"></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 col-md-6 col-lg-6">
													<label>Remuneración Promedio</label> <input
														th:field="*{remuneracion}" type="number"
														autocomplete="off" class="form-control" id="remuneracion"
														th:errorclass="border-danger"
														data-ng-model="txtRemuneracion.text"
													    data-ng-show="txtRemuneracion.visible"
													    maxlength={{txtRemuneracion.length}}> <small
														th:if="${#fields.hasErrors('remuneracion')}"
														th:errors="*{remuneracion}" class="text-danger"></small>
												</div>
											</div>
										</div>
										<div class="col-md-12 col-lg-5">
											<div class="row">
												<div class="col-md-12">
													<input type="file" id="input-file-now-custom-1"
														class="dropify" name="file"
														th:data-default-file="${carrera.rutaImagen}">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col-md-12 col-lg-6">
														<button type="submit"
															class="btn btn-block btn-outline-success">
															<i class="fa fa-save"></i> Guardar
														</button>
													</div>
													<div class="hidden-lg-up">
														<br /> <br />
													</div>
													<div class="col-md-12 col-lg-6">
														<a th:href="@{/carreras/listar}"
															class="btn btn-block btn-outline-dark"> <i
															class="fa fa-home"></i> Volver al listado
														</a>
													</div>
												</div>
												<!-- <div class="row button-group"></div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div th:replace="admin/layout/layout :: scripts"></div>
	<script
		th:src="@{/tema/assets/plugins/sticky-kit-master/sticky-kit.min.js}"></script>
	<script th:src="@{/tema/assets/plugins/sparkline/sparkline.min.js}"></script>
	<script th:src="@{/tema/assets/plugins/dropify/dist/js/dropify.min.js}"></script>
	<script th:src="@{/angular/angular.js}"></script>
	<script th:src="@{/angular/app/carrera-app.js}"></script>
	<script th:src="@{/angular/app/controllers/carrera-controller.js}"></script>
	<script th:src="@{/angular/shared/utilJsApp.js}"></script>
	
	<script>
    // Basic
    $(".dropify").dropify();

    // Translated
    $(".dropify-fr").dropify({
        messages: {
            default: "Pulse para seleccionar una imagen",
            replace: "Pulse para reemplazar la imagen",
            remove: "Elimnar",
            error: "Error al leer el fichero"
        }
    });

    // Used events
    var drEvent = $("#input-file-events").dropify();

    drEvent.on("dropify.beforeClear", function (event, element) {
        return confirm(
            'Do you really want to delete "' + element.file.name + '" ?'
        );
    });

    drEvent.on("dropify.afterClear", function (event, element) {
        alert("File deleted");
    });

    drEvent.on("dropify.errors", function (event, element) {
        console.log("Has Errors");
    });

    var drDestroy = $("#input-file-to-destroy").dropify();
    drDestroy = drDestroy.data("dropify");
    $("#toggleDropify").on("click", function (e) {
        e.preventDefault();
        if (drDestroy.isDropified()) {
            drDestroy.destroy();
        } else {
            drDestroy.init();
        }
    });
</script>

</body>

</html>