<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/layout :: head" ></head>
<style>
    #tbUsuarios thead tr {
        background: #2f3d4a;
        border-color: #2f3d4a;
        color: #ffffff;
    }
</style>
<body class="fix-header card-no-border fix-sidebar">
	
    <div th:replace="admin/layout/layout :: preloader"></div>
    
    <div id="main-wrapper">
    
    	<header th:replace="admin/layout/layout :: header"></header>
    	
    	<aside th:replace="admin/layout/layout :: sidebar"></aside>
    	
    	<div class="page-wrapper">
			<div class="container-fluid">
			<div th:replace="admin/layout/layout :: mensajes"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-info text-white">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="stats">
                                        <h3 class="text-white">
                                            <strong>Usuarios Registrados</strong>
                                        </h3>
                                        <!-- <h6 class="text-white">Cantidad</h6> -->
                                        <a th:href="@{/usuarios/registrar}"
                                        	class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Agregar</a>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-university display-5 op-3 text-dark"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive m-t-20">
                                    <table id="tbUsuarios" class="table full-color-table full-inverse-table hover-table">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Foto</th>
                                                <th class="text-left">Nombre</th>
                                                <th class="text-left">Rol</th>
                                                <th class="text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:class="${usuario.estado == false? 'table-active' : ''}"  th:each="usuario: ${usuarios}">
                                                <td class="text-center}">
                                                    <img width="50" class="img-thumbnail rounded float-left"
                                                       th:src="@{${usuario.rutaFoto}}">
                                                </td>
                                                <td class="text-left" th:text="${usuario.getNombres()}"></td>
                                                <td class="text-center" th:text="${usuario.rol.role}"></td>
                                                <td class="text-center">
                                                    <a class="btn btn-outline-info" data-toggle="tooltip" data-placement="top"
                                                    	th:href="@{'/usuarios/editar/'+${usuario.dni_user}}" data-original-title="Editar Usuario">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a th:if="${usuario.estado} == true" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top"
                                                           th:href="@{'/usuarios/disabled/'+${usuario.dni_user}}" data-original-title="Deshabilitar Usuario">
                                                        <i class="fa fa-minus-circle"></i>
                                                    </a>
                                                    <a th:if="${usuario.estado}  == false" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top"
                                                           th:href="@{'/usuarios/enabled/'+${usuario.dni_user}}" data-original-title="Habilitar Usuario">
                                                        <i class="fa  fa-check"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    
    </div>
    
    <div th:replace="admin/layout/layout :: scripts"></div>
    <script>
        $(document).ready(function() {
            $('#tbUsuarios').DataTable({
                "lengthMenu": [5,10,15,20],
                "language": {"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"}
            });
        });
    </script>
</body>

</html>