<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/layout :: head"></head>

<body class="fix-header card-no-border fix-sidebar" id="ng-app" ng-app="SedeApp" ng-controller="SedeController" ng-init="init()">
<!-- Preloader -->
<div th:replace="admin/layout/layout :: preloader"></div>

<div id="main-wrapper">

    <header th:replace="admin/layout/layout :: header"></header>

    <aside th:replace="admin/layout/layout :: sidebar"></aside>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div th:replace="admin/layout/layout :: mensajes"></div>
            <form th:action="@{/sedes/registrar}" th:object="${sede}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outline-primary">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white" th:text="'NUEVA SEDE - '+${institucion.nombre}">Datos de Sede</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="text-info"><strong>Nombre de Sede</strong></label>
                                            <input id="nomSede" type="text" th:errorclass="border-danger"
                                                   th:field="*{nomSede}" class="form-control" autocomplete="off"
                                                   data-ng-model="txtNomSede.text" 
												   data-ng-show="txtNomSede.visible" required
												   maxlength={{txtNomSede.length}} letters-only />
                                            <small th:if="${#fields.hasErrors('nomSede')}"
                                                   th:errors="*{nomSede}"
                                                   class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-info"><strong>Ubicación</strong></label>
                                            <input id="ubiSede" placeholder="Distrito, Provincia, Departamento" 
                                                   type="text" class="form-control" autocomplete="off"
                                                   data-ng-model="txtUbicacion.text" required
												   maxlength={{txtUbicacion.length}} normal-text />
                                            <input type="hidden" id="codUbigueo" th:field="*{ubicacion.codUbigueo}"/>
                                        </div>
                                        <div class="form-group">
                                            <div id="listaUbigueos">
                                                <table class="table table-hover">
                                                    <tr class="ubicacion" th:each="item: ${ubigueos}">
                                                        <td class="desc" th:text="${item.getDescripcion()}"></td>
                                                        <td>
                                                            <input type="hidden" class="codUbigueo"
                                                                   th:value="${item.codUbigueo}" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ubigueo" class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="text-info">
                                                <strong>Dirección de Sede</strong>
                                            </label>
                                            <input id="direccion" th:field="*{direccion}" type="text"
                                                   class="form-control" autocomplete="off" th:errorclass="border-danger"
                                                   data-ng-model="txtDirSede.text" 
												   data-ng-show="txtDirSede.visible" 
												   maxlength={{txtDirSede.length}} required normal-text />
                                            <small th:if="${#fields.hasErrors('direccion')}"
                                                   th:errors="*{direccion}"
                                                   class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-info">
                                                <strong>Teléfono de Sede</strong>
                                            </label>
                                            <input id="telf" type="tel" th:field="*{telf}" th:errosclass="border-danger"
                                                   class="form-control" autocomplete="off"
                                                   data-ng-model="txtTefSede.text" 
												   data-ng-show="txtTefSede.visible" 
												   maxlength={{txtTefSede.length}} required numbers-only />
                                            <small th:if="${#fields.hasErrors('telf')}"
                                                   th:errors="*{telf}"
                                                   class="text-danger"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div id="btnLocalizar" class="btn btn-outline-primary">
                                            <i class="fa fa-map-marker"></i> Localizar
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" th:field="*{cx}" id="cx" >
                                        <input type="hidden" th:field="*{cy}" id="cy" >
                                        <h4 class="text-info">Ubicación Geografica</h4>
                                        <div id="map" class="gmaps" style="height: 200px;"></div>
                                        <input type="hidden" id="coordenadas"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-6">
                                                        <button type="submit" class="btn btn-block btn-success">
                                                            <i class="fa fa-check"></i> Guardar
                                                        </button>
                                                    </div>
                                                    <!--<div class="hidden-lg-up">
                                                        <br /> <br />
                                                    </div>
                                                    <div class="col-md-12 col-lg-6">
                                                        <a th:href="@{'/instituciones/ver/'+${sede.institucion.ruc}}" class="btn btn-block btn-inverse">
                                                            <i class="fa fa-backward"></i> Regresar
                                                        </a>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="admin/layout/layout :: scripts"></div>
<script th:src="@{/angular/app/sede-app.js}"></script>
<script th:src="@{/angular/app/controllers/sede-controller.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#listaUbigueos').hide();

        $('#ubiSede').keyup(function(){
            var term = $('#ubiSede').val().trim().split(" ").join("_");
            if( term.length >= 3 ){
                console.info('termino de busqueda: '+term);
                $('#listaUbigueos').load("/sedes/ubigueos/"+term)
                $('#listaUbigueos').show()
            }
        });

        $('#listaUbigueos').on('click','.ubicacion', function(){
            console.info('Click');
            $('#codUbigueo').val($(this).find('.codUbigueo').val());
            $('#ubiSede').val($(this).find('.desc').text());
            $('#listaUbigueos').hide();
            console.info('Ubicacion: '+$('#ubiSede').val());
            console.info('Codigo: '+ubigueo);
        });
    })

    var cx = parseFloat(document.getElementById('cx').value);
    var cy = parseFloat(document.getElementById('cy').value);
    console.log(cx+" "+cy);
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: {
                lat : -12.104061,
                lng : -76.96290199999999
            }
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('btnLocalizar').addEventListener('click',
            function () {
                geocodeAddress(geocoder, map);
            });
    }

    google.maps.event.addDomListener(window, 'load', initMap);

    function geocodeAddress(geocoder, resultsMap) {
        var region = $('#ubiSede').val().trim();
        var direccion = $('#direccion').val().trim();
        var buscado = direccion + ", " + region;
        console.log("Direccion buscada: " + buscado);
        if (region == "" || direccion == "") {
            alertify
                .alert("Ingrese la ubicacion y la direccion de la sede");
        } else {
            var address = buscado;
            geocoder
                .geocode(
                    {
                        'address': address
                    },
                    function (results, status) {
                        if (status === 'OK') {
                            resultsMap
                                .setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker(
                                {
                                    map: resultsMap,
                                    position: results[0].geometry.location
                                });
                            document.getElementById("cx").value = marker.getPosition().lat().toString();
                            document.getElementById("cy").value = marker.getPosition().lng().toString();
                            console.log($('#cx').val());
                            console.log($('#cy').val());
                        } else {
                            alertify
                                .alert('No se pudo encontrar la ubicacion ingresada ' + status);
                        }
                    });
        }
    }


</script>
<script async defer
        src="https://maps.google.com/maps/api/js?key=AIzaSyAgE-Gb6TvJTxMt1MMAKPFGJyEIVxgp4aA&callback=initMap"></script>
</body>

</html>